<div class="w-50 p-5 mt-5 mx-auto jumbotron form-group">
<%= form_for '/login' do |f| %>
<%= f.email_field :email,placeholder:"Enter email" , class: "form-control" %>
<%= f.submit 'Sign In', class: "btn btn-block btn-primary mt-2"  %>
<% end %>
</div>